BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: false

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: false
BinPackParameters: false

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakBeforeInlineASMColon: OnlyMultiline
BreakStringLiterals: false
Cpp11BracedListStyle: false

UseTab: Never
TabWidth: 4
IndentWidth: 4
IndentCaseLabels: false
IndentGotoLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: false

MaxEmptyLinesToKeep: 2

SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PenaltyBreakComment: 100
PenaltyBreakString: 100
PenaltyBreakAssignment: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 50

ReflowComments: true
RemoveEmptyLinesInUnwrappedLines: false
SeparateDefinitionBlocks: Leave

PointerAlignment: Right

DerivePointerAlignment: false
DisableFormat: false

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<.*>"
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
